@model IEnumerable<WeatherClient.Models.Weather>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.wid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForCast)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.wid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForCast)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.wid}) |
                @Html.ActionLink("Details", "Details", new {  id=item.wid }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.wid })
            </td>
        </tr>
}
    </tbody>
</table>
